 @import url('http://fonts.cdnfonts.com/css/biko');
 @import url('http://fonts.cdnfonts.com/css/sulphur-point');
                
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
     font-family: "Biko", sans-serif;
}
img{
    width:100%;
    height:100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.inner-row{
     width:90%;
     margin:auto;
}

#landing{
     width:100%;
     height: 120vh;
     background: linear-gradient(to right, rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url("./images/landing1.jpg") no-repeat;
     background-size: cover;
     background-position: center;
     clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85% );
     padding:10px;
}
header{
     width:100%;
     height:80px;
     transition: background 0.5s linear;
     -webkit-transition: background 0.5s linear;
     -moz-transition: background 0.5s linear;
     -ms-transition: background 0.5s linear;
     -o-transition: background 0.5s linear;
     position:relative;
     z-index:99;
}
.onscroll {
    width:100%;
    height:80px;
    position:fixed;
    top: 0;
    left:0;
    background:#fff;
    z-index: 99;
    box-shadow: 0px 0px 4px 1px rgb(138, 138, 138);
}

.header-content{
     display:flex;
     justify-content: space-between;
     align-items: center;
}
.header-content .logo{
      width:120px;
      height:80px;
}
.onscroll .header-content .logo{
      width: 110px;
      height:70px;
}
.header-content nav{
    display:flex;
    gap:30px;
    align-items: center;
}
.header-content nav ul{
    display:flex;
    gap:30px;
}
.header-content nav ul li{
    cursor: pointer;
}
.header-content nav ul li a{
     font-size:16px;
     color: #fff;
}
.onscroll .header-content nav ul li a{
    color:#111;
}
.header-content nav ul li.active a,
.header-content nav ul li:hover a{
    color:#4b2466;
}
.header-content .quick-call{
     display:inline-flex;
     background:#e06122;
     align-items: center;
     padding: 10px 20px;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
     color:white;
     cursor: pointer;
     gap:5px;
}
.quick-call span{
     font-size:14px;
}


.navTrigger{
    cursor: pointer;
    width:30px;
    height:25px;
    margin:auto;
    position:absolute;
    right:20px;
    top:30px;
    display:none;
}
.navTrigger i{
    background:#fff;
    width:100%;
    content: "";
    display:block;
    height:4px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.onscroll .navTrigger i{
    background:#111;
    width:100%;
    content: "";
    display:block;
    height:4px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.navTrigger i:nth-child(1){
    animation:outTp 0.8s backwards;
    -webkit-animation:outTp 0.8s backwards;
    animation-direction: reverse;
}
.navTrigger i:nth-child(2){
    margin:5px 0;
    animation:outMd 0.8s backwards;
    -webkit-animation:outMd 0.8s backwards;
    animation-direction: reverse;
}
.navTrigger i:nth-child(3){
    animation:outBtm 0.8s backwards;
    -webkit-animation:outBtm 0.8s backwards;
    animation-direction: reverse;
}
.navTrigger.active i:nth-child(1) {
    -webkit-animation: inTp 0.8s forwards;
    animation: inTp 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inMd 0.8s forwards;
    animation: inMd 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}
/*Keyframes*/
@keyframes inMd {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes outMd {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes inTp {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outTp {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}


@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}


.dropdown{
    position:absolute;
    top:80px;
    width:500px;
    right:8%;
    text-align: left;
    background:white;
    line-height: 30px;
    padding:0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    cursor: pointer;
    border-radius:0 0 5px 5px ;
    -webkit-border-radius:0 0 5px 5px ;
    -moz-border-radius:0 0 5px 5px ;
    -ms-border-radius:0 0 5px 5px ;
    -o-border-radius:0 0 5px 5px ;
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.521);
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    animation:openUp .5s ease-in-out;
    -webkit-animation:openUp .5s ease-in-out;
}
.dropdown a{
      line-height: 45px;
      margin:0 8px;
      padding-bottom: 5px;
      display:block;
      width:110px;
      font-family: "quicksand-bold";
      color:#222 !important;
      position: relative;
      font-size:15px;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
     
}

.landing-content{
    padding-top:120px;
    color:white;
}
.landing-content h1{
     font-size:90px;
}
.landing-content p{
    width:500px;
    font-size:18px;
    line-height: 30px;
    font-family: "Sulphur point",sans-serif;
}

.landing-content .btn-section{
    display: block;
    margin-top: 20px;
}
.landing-content .btn-section a{
     display: inline-block;
     padding:13px 30px;
     border-radius: 30px;
     -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
     -ms-border-radius: 30px;
     -o-border-radius: 30px;
     background-color: #e06122;
     color:#fff;
     font-family: "Sulphur point", sans-serif;
}

@media(max-width:768px){
     .navTrigger{
         display:block;
     }
    
     #landing{
         padding:0;
     }
     header .inner-row{
         width:100%;
     }
     .header-content .logo{
         margin-left:5%;
     }
     .header-content, .header-content nav, .header-content nav ul{
         display: block;
     }
     .header-content nav{
         background:#ffffff;
         padding:5px 5%;
         display:none;
     }
     .header-content nav.show{
        background:#ffffff;
        padding:5%;
        display: block;
        
    }
     .header-content nav ul li{
         border-bottom: 1px solid gainsboro;
     }
     .header-content nav ul li:last-child{
         border:none;
     }
     .header-content nav ul li a{
         color:#111;
         line-height: 40px;
     }
     .header-content .quick-call{
         margin-top: 20px;
     }

     .landing-content h1{
         text-align:center;
         font-size:60px;
     }
     .landing-content p{
          text-align:center;
          width:90%;
          margin:auto;
     }
     .landing-content .btn-section{
         text-align:center;
     }
}
@media(max-width: 480px){
    .landing-content{
        padding-top:50px;
    }
}